<html>
  <head>
  <title>Web Services according to Docker-Etcd-Bridge</title>
  <style>
    body {
      background: ghostwhite;
      margin-top: 60px;
    }
    h1 {
      font-family: Impact, Charcoal, sans-serif;
      margin: 40px 40px 20px;
    }
    ul {
      list-style-type: none;
      width: 80%;
    }
    li {
      padding: 6px 20px;
      font-family: "Courier New", Courier, monospace;
      font-size: 20pt;
      font-weight: bold;
      color: white;
    }
    li:nth-child(even) {
      background: #111;
    }
    li:nth-child(odd) {
      background: darkgray;
    }
    a, a:visited {
      color: white;
    }
    a:hover {
      color: blue;
    }
    a:active {
      color: green;
    }
  </style>
  </head>
  <body>
    <ul>
{{ range $machine := lsdir "/docker/machines/" }}
{{/* $machineInfo := json (printf "%s%s%s" "/docker/machines/" . "/info" | getv) */}}
{{ range (printf "%s%s%s" "/docker/machines/" $machine "/containers/*" | getvs) }}
{{ $c := json . }}
{{ $webPortMapping := index $c.NetworkSettings.Ports "80/tcp" }}
{{ if $webPortMapping }}
{{ $port := (index $webPortMapping 0).HostPort }}
<li>
  <a href="{{$machine}}:{{$port}}">{{base $c.Name}}</a>
</li>
{{ else }}
<li>{{base $c.Name}}</li>
{{ end }}
{{ end }}
{{ end }}
</ul>
  </body>
</html>
